.team-profile-modal{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.281);
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-profile-modal > div {
    height: 50vh;
    width: 200px;
    /* background-color: white; */
}

.team-profile-modal > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.team-profile-modal input{
    height: 30px;
}

.team-profile-modal select{
    height: 40px;
}
.team-profile-modal-button-group{
    display: flex;
    justify-content: space-around;
    padding-left: 50%;
}

.team-profile-modal-button-group button{
    margin-right: 20px;
}