.header-top, .header-bottom{
    height: 50px;
    width: 100%;
    background-color: #212433;
}

.header-top img{
    width: 45px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    padding-top: 15px;
}

.header-bottom{
    display: flex;
    align-items: end;
}